<!DOCTYPE html>
<html>
<head>
    <title>Resnet50 Inference</title>
</head>
<body>
    <h1>Provide Input for Resnet Inference</h1>
    <form method="POST">
        <label for="ImagePath">Image Path:</label>
        <input type="text" id="ImagePath" name="ImagePath" required>
    <br>
        <form method="POSTweights">
        <label for="Model Weights">Model Weights:</label>
        <input type="text" id="ModelWeights" name="ModelWeights" required>
    <br>
        <form method="POST">
        <label for="performInference">Perform Inference:</label>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>
